.selected 
{
background:lime;
}

.selected2 
{
color:blue;
}

.selected3
{
background:lime;
}

.button:hover
{
filter:brightness(1.2);
}

.button:active
{
filter:brightness(1.6);
}

